
go.mod
go.sum

#ignore exe build
metal-shear.exe

# Node/React stuff
frontend/client/node_modules
frontend/client/.pnp
frontend/client/.pnp.js

# testing
frontend/client/coverage

# production
frontend/client/build

# misc
frontend/client/.DS_Store
frontend/client/.env.local
frontend/client/.env.development.local
frontend/client/.env.test.local
frontend/client/.env.production.local

frontend/client/npm-debug.log*
frontend/client/yarn-debug.log*
frontend/client/yarn-error.log*

# python
python-api/clips.db
python-api/chat-files/*.json
python-api/statsuki.py
python-api/.venv/
python-api/__pycache__/